pandas==2.2.2
openpyxl
numpy==2.0.2
scikit-learn==1.5.1
spacy==3.8.2
en-core-web-trf @ https://github.com/explosion/spacy-models/releases/download/en_core_web_trf-3.8.0/en_core_web_trf-3.8.0.tar.gz
sentence-transformers==3.0.1
streamlit
